<!DOCTYPE html>
<html>
<!--  header読み込み  -->
<div th:replace="~{common/header :: header_fragment}"></div>
<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
	rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<meta charset="UTF-8">
	<title>犬詳細</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>
		// 経費一覧へ遷移
		function redirectExpense(){
			$('form').submit();
		}
	</script>
</head>
<body>
	<div class="container">
		<h1 style="margin-bottom: 20px; text-align: center;">犬詳細</h1>
		<div style="text-align: right; margin: 10px;">
			<button class="btn btn-outline-secondary btn-sm" type="button" onclick="location.href='dogList'">戻る</button>
		</div>
		<br>
		<form action="/expense" method="get">
			<table class="table">
				<tr>
					<input type="hidden" name="dogId" th:value="${res.dogId}">
					<th class="table-primary">ID</th>
					<td>
						<label th:text="${res.dogId}"></label>
					</td>
				</tr>
					<th class="table-primary">JKC登録番号</th>
					<td>
						<label th:text="${res.jkcNo}"></label>
					</td>
				<tr>
					<th class="table-primary">犬種グループ</th>
					<td>
						<label th:text="${res.dogGroupName}"></label>
					</td>
				</tr>
				<tr>
					<th class="table-primary">犬種サイズ</th>
					<td>
						<label th:text="${res.dogSizeName}"></label>
					</td>
				</tr>
				<tr>
					<th class="table-primary">犬種</th>
					<td>
						<label th:text="${res.dogTypeName}"></label>
					</td>
				</tr>
				<tr>
					<th class="table-primary">性別</th>
					<td>
						<label th:text="${res.sex}"></label>
					</td>
				</tr>
				<tr>
					<th class="table-primary">生年月日</th>
					<td>
						<label th:text="${res.birthday}"></label>
					</td>
				</tr>
			</table>
		</form>
		<h1 style="margin-bottom: 20px; text-align: center;">仕入れ情報</h1>
		<table class="table">
			<tr>
				<th class="table-primary">契約区分</th>
				<td>
					<label th:text="${res.contractType}"></label>
				</td>
			</tr>
			<tr>
				<th class="table-primary">成約日</th>
				<td>
					<label th:text="${res.contractDate}"></label>
				</td>
			</tr>
				<th class="table-primary">仕入日</th>
				<td>
					<label th:text="${res.purchaseDate}"></label>
				</td>
			</tr>
			<tr>
				<th class="table-primary">契約金額</th>
				<td>
					<label th:text="'￥'+${res.contractYen}"></label>
				</td>
			</tr>
			<tr>
				<th class="table-primary">支払予定日</th>
				<td>
					<label th:text="${res.paymentExpectedDate}"></label>
				</td>
			</tr>
				<th class="table-primary">支払日</th>
				<td>
					<label th:text="${res.paymentDate}"></label>
				</td>
			</tr>
		</table>
		<h1 style="margin-bottom: 20px; text-align: center;">入出金情報</h1>
		<div style="text-align: right; margin: 10px;">
			<button onclick="redirectExpense()" class="btn btn-outline-secondary btn-sm">経費一覧</button>
		</div>
		<table class="table">
			<thead class="table-primary">
				<tr>
					<th>入出金ID</th>
					<th>経費ID</th>
					<th>入出金区分</th>
					<th>金額</th>
					<th>発生日</th>
					<th>確定日</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="cashFlow:${res.cashFlowList}">
					<tr>
						<td><label th:text="${cashFlow.cashFlowId}"></label></td><!-- 入出金ID -->
						<td><label th:text="${cashFlow.expenseId}"></label></td><!-- 経費ID -->
						<td><label th:text="${cashFlow.cashFlowType}"></label></td><!-- 入出金区分 -->
						<td><label th:text="'￥'+${cashFlow.price}"></label></td><!-- 金額 -->
						<td><label th:text="${cashFlow.cashFlowDate}"></label></td><!-- 発生日 -->
						<td><label th:text="${cashFlow.closeDate}"></label></td><!-- 確定日 -->
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
</body>
</html>