<!DOCTYPE html>
<html>
<!--  header読み込み  -->
<div th:replace="~{common/header :: header_fragment}"></div>
<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
	rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<meta charset="UTF-8">
	<title>経費情報</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>
		var teplateInt = 100;
		function addTemplate(){
			let cloneDom = $('#expenseTemplate').clone();
			var templateNameDoms = cloneDom.find('[name="expenseRequestList"]');
			
			
			templateNameDoms.each(function(){
				var templateNameDom =  $(this);
				var nameStr = templateNameDom.attr('name');
				nameStr = nameStr.replace('template1',teplateInt);
				templateNameDom.attr("name", nameStr);
			});
			 $(cloneDom).removeAttr('id');
			teplateInt+=1;
			//入力フォームを追加
			$("#expenseTemplate").after(cloneDom);
		}
	</script>
</head>
<body>
	<div class="container">
		<h1 style="margin-bottom: 20px; text-align: center;">経費情報</h1>
		<div style="text-align: right; margin: 10px;">
			<div th:replace="~{common/backButton :: backButton_fragment}"></div>
			<button class="btn btn-outline-secondary btn-sm" onclick="addTemplate()">追加</button>
		</div>
<!--		/////////////////////-->
			<table class="table">
				<thead class="table-primary">
					<tr>
						<th></th>
						<th></th>
						<th>ステータス</th>
						<th>発生区分</th>
						<th>入出金区分</th>
						<th>種別</th>
						<th>内容</th>
						<th>見積金額</th>
						<th>確定金額</th>
						<th>発生日</th>
						<th>仕入日</th>
					</tr>
				</thead>
				<tbody>
					<tr id="expenseTemplate">
						<td></td>
						<td></td>
						<td></td>
						<td><!-- 発生区分 -->
							<select th:name="|expenseRequestList[template1].occurrenceType|">
								<option th:each="occurrenceType :${occurrenceTypeEnum}"
								th:value="${occurrenceType.code}" th:text="${occurrenceType.val}">
								</option>
							</select>
						</td>
						<td><!-- 入出金区分 -->
							<select th:name="|expenseRequestList[template1].cashFlowType|">
								<option th:each="cashFlowType :${cashFlowTypeEnum}"
								th:value="${cashFlowType.code}" th:text="${cashFlowType.val}">
								</option>
							</select>
						</td>
						<td><!-- 経費種別 -->
							<select th:name="|expenseRequestList[template1].expenseType|">
								<option th:each="expenseType :${expenseTypeEnum}"
									th:value="${expenseType.code}" th:text="${expenseType.val}"></option>
							</select>
						</td>
						<td><input type="text" th:name="|expenseRequestList[template1].info|"></td><!-- 内容 -->
						<td><input type="text" th:name="|expenseRequestList[template1].quotationYen|"></td><!-- 見積金額 -->
						<td><input type="text" th:name="|expenseRequestList[template1].closeYen|"></td><!-- 確定金額 -->
						<td><input type="date" th:name="|expenseRequestList[template1].paymentDate|"></td><!-- 発生日 -->
						<td><input type="date" th:name="|expenseRequestList[template1].purchaseDate|"></td><!-- 仕入日 -->
					</tr>
					<!--	経費リスト-->
					<form action="/expense/regist" method="post">
					<th:block th:each="expense,stat :${expenseList}">
						<tr>
							<input type="hidden" th:name="|expenseRequestList[${stat.index}].dogId|" th:value="${expense.dogId}">
							<input type="hidden" th:name="|expenseRequestList[${stat.index}].expenseId|" th:value="${expense.expenseId}">
							<input type="hidden" th:name="|expenseRequestList[${stat.index}].fixFlag|" th:value="${expense.fixFlag}">
							<td><button>確定</button></td><!-- 確定 -->
							<td><button>取消</button></td><!-- 取消 -->
							<td><label th:text="${expense.status}"></label></td><!-- ステータス -->
							<td><!-- 発生区分 -->
								<label th:if="${expense.fixFlag} ==1" th:text="${expense.occurrenceType}"></label>
								<select th:if="${expense.fixFlag} ==0" th:name="|expenseRequestList[${stat.index}].occurrenceType|">
									<option th:each="occurrenceType :${occurrenceTypeEnum}"
										th:value="${occurrenceType.code}" th:text="${occurrenceType.val}"
										th:selected="${expense.occurrenceType} == ${occurrenceType.code}">
									</option>
								</select>
							</td>
							<td><!-- 入出金区分 -->
								<label  th:if="${expense.fixFlag} ==1" th:text="${expense.cashFlowType}"></label>
								<select th:if="${expense.fixFlag} ==0"  th:name="|expenseRequestList[${stat.index}].cashFlowType|">
									<option th:each="cashFlowType :${cashFlowTypeEnum}"
										th:value="${cashFlowType.code}" th:text="${cashFlowType.val}"
										th:selected="${expense.cashFlowType} == ${cashFlowType.code}">
									</option>
								</select>
							</td>
							<td><!-- 経費種別 -->
								<label th:if="${expense.fixFlag} ==1" th:text="${expense.expenseType}"></label>
								<select th:if="${expense.fixFlag} ==0" th:name="|expenseRequestList[${stat.index}].expenseType|">
									<option th:each="expenseType :${expenseTypeEnum}"
										th:value="${expenseType.code}" th:text="${expenseType.val}"
										th:selected="${expense.expenseType} == ${expenseType.code}">
									</option>
								</select>
							</td>
							<td><!-- 内容 -->
								<label th:if="${expense.fixFlag} ==1" th:text="${expense.info}"></label>
								<input th:if="${expense.fixFlag} ==0" type="text" th:value="${expense.info}" 
									th:name="|expenseRequestList[${stat.index}].info|">
							</td>
							<td><!-- 見積金額 -->
								<label th:if="${expense.fixFlag} ==1" th:text="'￥'+${expense.quotationYen}"></label>
								<input th:if="${expense.fixFlag} ==0" type="text" th:value="${expense.quotationYen}" 
									th:name="|expenseRequestList[${stat.index}].quotationYen|">
							</td>
							<td><!-- 確定金額 -->
								<label th:if="${expense.fixFlag} ==1" th:text="'￥'+${expense.closeYen}"></label>
								<input th:if="${expense.fixFlag} ==0" type="text" th:value="${expense.closeYen}" 
									th:name="|expenseRequestList[${stat.index}].closeYen|">
							</td>
							<td><!-- 発生日 -->
								<label th:if="${expense.fixFlag} ==1" th:text="${expense.paymentDate}"></label>
								<input th:if="${expense.fixFlag} ==0" type="date" th:value="${expense.paymentDate}" 
									th:name="|expenseRequestList[${stat.index}].paymentDate|">
							</td>
							<td><!-- 仕入日 -->
								<label th:if="${expense.fixFlag} ==1" th:text="${expense.purchaseDate}"></label>
								<input th:if="${expense.fixFlag} ==0" type="date" th:value="${expense.purchaseDate}" 
									th:name="|expenseRequestList[${stat.index}].purchaseDate|">
							</td>
						</tr>
					</th:block>
				</tbody>
			</table>
			<div style="text-align: right; margin: 10px;">
				<button class="btn btn-outline-secondary btn-sm">登録</button>
			</div>
		</form>
	</div>
</body>
</html>