<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CashFlowMapper">
	<resultMap type="com.example.demo.entity.dog.CashFlowEntity" id="cashFlowMap">
		<result column="cash_flow_id" jdbcType="INTEGER" property="cashFlowId"/>
		<result column="dog_id" jdbcType="INTEGER" property="dogId"/>
		<result column="expense_id" jdbcType="INTEGER" property="expenseId"/>
		<result column="store_code" jdbcType="VARCHAR" property="storeCode"/>
		<result column="store_name" jdbcType="VARCHAR" property="storeName"/>
		<result column="cash_flow_type" jdbcType="INTEGER" property="cashFlowType"/>
		<result column="info" jdbcType="INTEGER" property="info"/>
		<result column="note" jdbcType="VARCHAR" property="note"/>
		<result column="price" jdbcType="INTEGER" property="price"/>
		<result column="cancel_flag" jdbcType="INTEGER" property="cancelFlag"/>
		<result column="cash_flow_date" jdbcType="DATE" property="cashFlowDate"/>
		<result column="close_date" jdbcType="DATE" property="closeDate"/>
		<result column="create_datetime" jdbcType="TIMESTAMP" property="createDatetime"/>
		<result column="create_user_id" jdbcType="VARCHAR" property="createUserId"/>
		<result column="update_datetime" jdbcType="TIMESTAMP" property="updateDatetime"/>
		<result column="update_user_id" jdbcType="VARCHAR" property="updateUserId"/>
	</resultMap>
	<insert id="insert" parameterType="com.example.demo.entity.dog.CashFlowEntity">
		INSERT 
		INTO cash_flow( 
			dog_id
			, expense_id
			, cash_flow_type
			, price
			, cancel_flag
			, cash_flow_date
			, close_date
			, create_datetime
			, create_user_id
			, update_datetime
			, update_user_id
		) 
		VALUES ( 
			#{dogId}
			, #{expenseId}
			, #{cashFlowType}
			, #{price}
			, 0
			, #{cashFlowDate}
			, #{closeDate}
			, CURRENT_TIMESTAMP
			, #{createUserId}
			, CURRENT_TIMESTAMP
			, #{updateUserId}
		)
	</insert>
	<select id="selectByDogId" resultMap="cashFlowMap">
		SELECT
			cash_flow_id
			, expense_id
			, info
			, cash_flow_type
			, price
			, cash_flow_date
			, close_date 
		FROM
			cash_flow 
		WHERE
			dog_id = #{dogId}
	</select>
	<insert id="insertId" parameterType="com.example.demo.entity.dog.CashFlowEntity" useGeneratedKeys="true" keyProperty="expenseId">
		INSERT 
		INTO cash_flow(cancel_flag, create_datetime, create_user_id) 
		VALUES (0, CURRENT_TIMESTAMP, #{createUserId})
	</insert>
	<update id="update" parameterType="com.example.demo.entity.dog.CashFlowEntity">
		UPDATE cash_flow 
		SET
			dog_id = #{dogId}
			, expense_id = #{expenseId}
			, cash_flow_type = #{cashFlowType}
			, price = #{price}
			, cash_flow_date = #{cashFlowDate}
			, close_date = #{closeDate}
			, update_datetime = CURRENT_TIMESTAMP
			, update_user_id = #{updateUserId} 
		WHERE
			expense_id = #{expenseId}
			AND fix_flag = 0
	</update>
	<select id="selectByExpenseId" resultType="INTEGER">
		SELECT expense_id FROM cash_flow WHERE expense_id = #{expenseId}
	</select>
</mapper>